{% load static %}

<head>
	<meta charset="utf-8">
	<meta name="description" content="Всё хорошо, деньги капают, время улетает :)">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}{{ group.title }}</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="icon" type="image" href="{% static 'img/fav/fav.ico' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png' %}">
	<meta name="msapplication-TileColor" content="#000">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<header>
		{% include 'includes/header.html' %}
	</header>

	<main>
		{% block content %}
			Контент не подвезли :(
		{% endblock %}
	</main>

	<footer class="border-top text-center py-3">
		{% include 'includes/footer.html' %}
	</footer>
</body>